@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

:root {
  --grid-rows: 1;
  --grid-columns: 1;
  --pen-color: #b0dcff;
}

body {
  box-sizing: border-box;
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
  color: black;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: "Quicksand", sans-serif;
}

/* Main Container */

.container {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 663.38px;
  border-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.5);
}

header {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(201, 228, 255);
  height: 70px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
}

/* Grid Container */

.grid-container {
  display: grid;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-columns), 1fr);
  height: 100%;
}

.grid-cell {
  border-width: 0.1px;
  border-color: rgb(240, 240, 240);
  border-style: solid;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.grid-cell:hover {
  background-color: var(--pen-color);
}

.grid-cell:active {
  transform: scale(0.96);
}

/* Button Container */

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: rgb(201, 228, 255);
  height: 120px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 95%;
}

.resetBtn {
  user-select: none;
  cursor: pointer;
  font-size: 1.4rem;
  height: 2.5rem;
  border: none;
  border-radius: 10px;
  font-family: "Quicksand", sans-serif;
  color: rgb(5, 5, 5);
  background: rgb(165, 207, 255);
  outline: none;
  padding: 0.4rem 1.8rem;
  box-shadow: 0 0.3rem rgba(255, 255, 255, 0.65);
}

.randomBtn {
  user-select: none;
  cursor: pointer;
  font-size: 1rem;
  height: 2.5rem;
  border: none;
  border-radius: 10px;
  font-family: "Quicksand", sans-serif;
  color: rgb(5, 5, 5);
  background: rgb(165, 207, 255);
  outline: none;
  padding: 0.4rem 0.3rem;
  box-shadow: 0 0.3rem rgba(255, 255, 255, 0.65);
}

#color-input {
  user-select: none;
  cursor: pointer;
  height: 2rem;
  border: none;
  border-radius: 10px;
  background: var(--pen-color);
  outline: none;
  padding: 0.3rem 2rem;
  box-shadow: 0 0.3rem rgba(255, 255, 255, 0.65);
}

#color-input:active {
  transform: translate(0, 0.3rem);
  box-shadow: 0 0.01rem rgba(255, 255, 255, 0.65);
}

input[type="color"]::-webkit-color-swatch {
  border: solid 1px var(--pen-color);
}

.randomBtn:hover {
  filter: brightness(97%);
}

.randomBtn:active {
  transform: translate(0, 0.3rem);
  box-shadow: 0 0.01rem rgba(255, 255, 255, 0.65);
}

.resetBtn:hover {
  filter: brightness(97%);
}

.resetBtn:active {
  transform: translate(0, 0.3rem);
  box-shadow: 0 0.01rem rgba(255, 255, 255, 0.65);
}

.slider {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

#size {
  cursor: pointer;
  width: 70%;
}

.grid-size {
  font-size: 1.2rem;
}
